<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> {{ dashboard_config['title'] }}</title>

  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <link rel='icon' href='{{ static_dir }}static/favicon.ico' type='image/x-icon' sizes="16x16" />

  <!-- Dependencies -->
  <!-- CSS -->
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.0.0-rc.27/dist/bootstrap-vue.min.css" />
  <link href="{{ static_dir }}static/scald.css" rel="stylesheet" type="text/css" />
  % if 'css' in dashboard_config:
    <link href="{{ dashboard_config['css'] }}" rel="stylesheet" type="text/css" />
  % end

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">

  <!-- Scripts -->
  <!-- Required for graphing and table prodution -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3-array@2.2.0/dist/d3-array.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.0.0-rc.27/dist/bootstrap-vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-grid-layout@2.3.4/dist/vue-grid-layout.umd.min.js"></script>

  <script src="{{ static_dir }}static/scald.js"></script>

</head>

<body class="dashboard" style="padding-top:55px; background-image:url({{ static_dir }}static/bns-light.jpg)">
  % if 'audio' in dashboard_config:
    <audio id="main_audio" autoplay="autoplay" preload="auto" loop="loop">
        <source src="{{ dashboard_config['audio'] }}" type="audio/mpeg" />
        <embed id="main_audio" hidden="true" autostart="true" loop="true" src="{{ dashboard_config['audio'] }}" />
    </audio>
  % end

  <div id='plots'>
  % include('navbar.html', **page_config[current_page])
  % include('plots.html')
  </div>

</body>
% include('scripts.js', **page_config[current_page])
</html>
