% if 'theme' in config and config['theme'] == 'gwdetchar':
<nav class="navbar fixed-top navbar-expand-lg navbar-{{config['detector'].lower()}}">
<div class="container-fluid">
% else:
<nav class="navbar online fixed-top navbar-expand-lg py-0">
% end

  <!-- add logo/title -->
  % if 'image' in config:
    <a class="navbar-brand mt-3 mt-lg-0" href="#"><img style="height:40px" src="{{config['image']}}"></a>
  % else:
    % if 'theme' in config and config['theme'] == 'gwdetchar':
    <a class="navbar-brand nav-link mt-0" href="">{{config['title']}}</a>
    % else:
    <a class="navbar-brand title mt-2" href="">{{config['title']}}</a>
    % end
  % end

  <b-navbar-toggle target="nav_collapse">    
    <span class="navbar-toggler-icon"></span>
  </b-navbar-toggle>

  <b-collapse is-nav id="nav_collapse">
    <ul class="navbar-nav mr-auto">

      <!-- add tabs -->
      % for tab in config['tabs']:
        % if 'theme' in config and config['theme'] == 'gwdetchar':
          <li class="nav-item"><a class="nav-link mt-0" href="{{ tab['url'] }}">{{ tab['name'] }}</a></li>
        % else:
          <li><a class="nav-link mt-0" href="{{ tab['url'] }}">{{ tab['name'] }}</a></li>
        % end
      % end

    </ul>
  </b-collapse>
% if 'theme' in config and config['theme'] == 'gwdetchar':
</div>
% end
</nav>
